//change button colors to purple
.btn-info {
  background-color: $purple;
  border-color: $purple;
  min-width: 100px;
  //change active focus hover background-color
  &:focus, &:active, &:hover {
    background-color: $purple;
    border-color: $purple;
  }
}
//make logout btn background transparent
.logout-btn {
    background: transparent;
    //make logout icon bigger and change color
    i.fa {font-size: 30px; color: $green;}
}